.header__lang-wrap {
    display: none;
}
.project-info__options .item-project__wrap-sum div.item-project__wrap-joined {
    display: none;
}
.nav-tabs .nav-item:nth-child(2){
    display: none;
}

div.breadcrumb {
    margin: 27px 0 12px;
}

.item-project__date span:first-child {
    display: none;
}