///fonts///
$font-primary: "Inter";
$font-secondary:  "monospace";
$font-size: 18px;
$section-title: 32px;
///colors///
$white: #fff;
$black: #000;

$primary-color: #005BBB;
$secondary-color: #FFD018;

/*grey*/
$label-red: #F93838;
$label-purpur: #8683EF;
$label-green: #70D61F;

$required: $primary-color;
$placeholder: #bdbdbd;

/*text-default*/
 
$line-height: 1.67;
$text:#626874;


/*   <Breadcrumbs/>   */
$breadcrumbs-slash: #AFB4BE;
$breadcrumbs-link: #3C597D;
$breadcrumbs-link-hover: $primary-color;
$breadcrumbs-last-child: #AFB4BE;

/*   <Muve-top/>   */
$muve-top-background: $primary-color;
$muve-top-color: #fff;
