
<footer class="footer">
 
	<div class="wrapper">
		<div class="row-custom jcsb">
			<div class="footer__col">
				<div class="footer__title">Зробити добро</div>
				<div class="footer__menu">
					<ul>
						<li><a href="#">Проекти</a></li>
						<li><a href="#">Акції</a></li>
						<li><a href="#">СМС-благодійність</a></li>
						<li><a href="#">Завершені проекти</a></li>
						<li><a href="#">Заявка на проект</a></li>
					</ul>
				</div>
				
			</div>
			<div class="footer__col">
				<div class="footer__title">Про наш фонд</div>
				<div class="footer__menu">
					<ul>
						<li><a href="#">Про нас</a></li>
						<li><a href="#">Наші партнери</a></li>
						<li><a href="#">Відгуки</a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
				</div>
				
			</div>
			<div class="footer__col">
				<div class="footer__title">Інформація</div>
				<div class="footer__menu">
					<ul>
						<li><a href="#">Новини сайту</a></li>
						<li><a href="#">Політика конфіденціальності</a></li>
						<li><a href="#">Публічна оферта</a></li>
						<li><a href="#">Установчі документи фонду</a></li>
						<li><a href="#">Питання та відповіді (FAQ)</a></li>
					</ul>
				</div>
				
			</div> 
			<div class="footer__col">
				<div class="footer__title">Контактна інформація</div>
				<div class="footer__info">
					<ul class="footer__phones">
						<li>
							<a href="tel:+380 (55) 958-66-09">+380 (55) 958-66-09</a>
							<a href="viber://chat?number=%2B380559586609">
								<img src="../assets/img/viber.svg" alt="" />
							</a>
							<a href="#">
								<img src="../assets/img/telegram.svg" alt="" />
							</a>
						</li>
						<li>
							<a href="tel:+380 (55) 958-66-09">+380 (55) 958-66-09</a>
						</li>
						<li>
							<a href="tel:+380 (67) 658-14-44">+380 (67) 658-14-44</a>
						</li>
					</ul>
					<a href="mailto:info@pershazirka.ua" class="email">
						info@pershazirka.ua
					</a>
					<ul class="soc-icons">
						<li><a href="#"><i class="icon-svg icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-insta"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-youtube"></i></a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
   	<div class="footer__copy">© 2022 – 2024 Благодійний фонд «Перша Зірка»</div>
</footer>
		@@include('modals.html')
		<script defer src="assets/js/bootstrap.min.js"></script>
		<script defer src="assets/js/slick.min.js"></script>
    	<script async src="assets/js/jquery.fancybox.min.js"></script>
		<script defer src="assets/js/jquery.nice-select.min.js"></script>
		<script defer src="assets/js/jquery.matchHeight-min.js"></script>
		
		<script async src="assets/js/global.js"></script>
		<script async src="assets/js/custom.js"></script>
    
</body>
</html>